backend:
  name: git-gateway
  branch: master

media_folder: static/img
public_folder: /img

site_url: https://www.soliditydeveloper.com
display_url: https://soliditydeveloper.com
logo_url: https://www.soliditydeveloper.com/img/main.jpg
publish_mode: editorial_workflow

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/pages"
    create: true
    slug: "{{slug}}"
    editor:
     preview: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Featured Image", name: "featuredImage", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }